@{
    ViewBag.Title = "ProjectReturn";
    Layout = "~/Views/Shared/Home/_LayoutHead.cshtml";
}
<link href="~/Common/layUI/theme/layui.css" rel="stylesheet" />
<link href="~/Common/Project/ProjectReturn.css" rel="stylesheet" />
<div id="Right">
    <div class="right_within">

        <div class="ReturnSheZhi">
            <div class="layui-form-item" id="layui_id">
                <label class="layui-form-label">筹集金额</label>
                <div class="layui-input-block" style="width:300px;">
                    <input type="text" name="title" required lay-verify="required" placeholder="最低金额(壹)元" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline" id="layui_id">
                <label class="layui-form-label">筹集时间</label>
                <div class="layui-input-block" style="width:200px;">
                    <input type="text" class="layui-input" id="test1" placeholder="请手动输入时间或选择时间">
                </div>
            </div>
            <div class="layui-form-item layui-form-text" id="layui_id">
                <label class="layui-form-label">回报内容</label>
                <div class="layui-input-block" style="width:600px;">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea" style="height:300px;"></textarea>
                </div>
            </div>
        </div>

        <table class="table table-striped" id="ProRetunTable">
            <tr>
                <td>编号</td>
                <td style="width:30%;">回报内容</td>
                <td>金额</td>
                <td>回报时间</td>
                <td>编辑</td>
            </tr>
        </table>
        <!-- 按钮 -->
        <div id="BigButtonss">
           
            <button type="reset" class="layui-btn layui-btn-primary">下一步</button>
            <button class="layui-btn" lay-submit lay-filter="formDemo">上一步</button>

        </div>
    </div>
</div>
<script src="~/Common/Project/jquery-3.1.1.js"></script>
<script src="~/Common/layUI/layui.js"></script>
<script src="~/Common/Project/ProjectRetun.js"></script>
<script src="/static/build/layui.js"></script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
    });
</script>

