
@{
    ViewBag.Title = "ProjectDetails";
    Layout = "~/Views/Shared/Project/Project.cshtml";
}


<link href="~/Common/Project/bootstrap-switch.css" rel="stylesheet" />
<link href="~/Common/layUI/theme/layui.css" rel="stylesheet" />

<!-- 右边栏 -->

<div class="RightModule">

    <!-- 标题 -->
    <div class="titleheda">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">项目名称：</span>
            <input id="proName" type="text" class="form-control" placeholder="Entry Name" aria-describedby="sizing-addon1">
        </div>
    </div>


    <!-- 项目筹集，资金，类型 -->
    <div class="JianJie">
        <!-- 筹集金额，人数限制,限定时间 -->
        <div class="Raise">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">筹集金额：</span>
                <input id="proMoney" type="text" class="form-control" placeholder="Amount of money" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">限定人数：</span>
                <input type="text" class="form-control" placeholder="Limited number" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">筹集期限：</span>
                <input id="proDays" type="text" class="form-control" placeholder="Term" aria-describedby="sizing-addon3">
            </div>

            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">发起地区：</span>
                <select id="guo" class="selects">
                    <option>中国</option>
                    <option>中国</option>
                </select>
                <select id="sheng" class="selects">
                    <option>广西</option>
                    <option>湖南</option>
                </select>
            </div>

        </div>

        <!-- 项目简介 -->
        <div class="Introduce">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">项目简介：</span>
                <input id="proIntroduction" type="text" class="form-control" placeholder="Brief Introduction" aria-describedby="sizing-addon3">
            </div>
        </div>

        <!-- 项目封面 -->
        <div class="fenmian">
            <span>项目封面:</span>
            <form id="form" action="../Project/UploadFile" method="post" enctype="multipart/form-data">
                <input id="file" name="file" type="file" accept="image/*" multiple="multiple" />
            </form>
            <input id="button" type="button" value="上传" />
            @*<input type="file" name="file" id="UpFile" />*@

            <!-- 图片显示框 -->
            <div id="Cover">
                <img src="" id="preview" class="img-rounded" style="height:100%;width:100%;">
            </div>

            <!--类型-->
            <span class="type">
                <span>类型:</span>
                <button name="btn1" type="button" class="btn btn-primary">科技</button>
                <button name="btn3" type="button" class="btn btn-success">食品</button>
                <button name="btn4" type="button" class="btn btn-warning">文学</button>
                <button name="btn5" type="button" class="btn btn-danger">娱乐</button>
                <button name="btn7" type="button" class="btn btn-info">公益</button>
                <button name="btn2" type="button" class="btn btn-default">设计</button>

            </span>
        </div>


    </div>

    <!-- 项目简介 -->
    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <div style="width:100%;height:60%;margin-left:3%">
        <h4>项目详情</h4>
        <textarea rows="10" style="width:90%;height:100%; resize:none;" id="txts">
        </textarea>
        <div style="width:100%;height:30%;margin-top:3%">
            <span style="font-family:STSong;font-weight:900">文本纠察：</span>
            <input type="checkbox" id="jianche" style="float:left" />
        </div>


    </div>


    <!-- 按钮 -->
    <div class="BigButtons">
        <button type="button" class="btn btn-success" id="Previous">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            上一步
        </button>

        <button type="button" class="btn btn-success" id="Next">
            下一步
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

        </button>

    </div>

</div>
<script type="text/javascript" src="~/Common/jquery-3.1.1.js"></script>
<script type="text/javascript" src="~/Common/ajaxfileupload.js"></script>
<script>
    $(function () {
        $("#file").change(function () {
            $("#form").submit();
        });
        $("#button").click(function () {

            $.ajax({
                url: "../Project/getPhoto",
                data: {},
                success: function (data) {
                    alert(data)
                    $("#preview").attr("src", "/Images/" + data);
                },
                error: function (data) {

                }
            });
        });
    });
</script>
<script src="~/Common/Project/bootstrap-switch.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('input[type=checkbox]').bootstrapSwitch({ size: "small" });
    })
</script>






