@{
    Layout = "~/Views/Shared/Home/_LayoutHead.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>提交成功</title>
    <link href="~/Lib/Home/payment_suc/css/payment_suc.css" rel="stylesheet" />
    @*<link href="~/Common/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <script>



        var num = 30;
        var int = setInterval("clock()", 1000);
        function clock() {
            num > 0 ? num-- : clearInterval(int);
            document.getElementById("time").innerHTML = num;
            if (num == 0) {
                location.href = '/Home/Details';
            }
        }
    </script>
</head>
<body>   
    <div id="Comment">

        <div class="Payment">
            <p class="sce"><span class="glyphicon glyphicon-ok-sign" style="color:#4cff00;font-size:22px;"></span>恭喜您！支付成功</p>
            <div class="btnsce">
                <h5>订单金额：<span>1000.00</span>&nbsp;订单编号：<span>147852369</span></h5>
                <h6>支付完成前，请不要关闭支付验证窗口</h6>
                <h6>支付完成后，请根据您支付的情况点击下面按钮</h6>
                <button type="button" class="btn btn-success">查看订单</button>&nbsp;&nbsp;<button type="button" class="btn btn-default">支付成功</button>
            </div>
            <div class="bordes">
                支付成功！页面将于
                <span>
                    <a id="time">30</a>
                </span>秒后<a href="../Home/Details">返回项目详情页面</a>
            </div>
        </div>
       
    </div>
</body>
</html>
