@{
    Layout = "~/Views/Shared/Home/_LayoutHead.cshtml";
}
<link href="~/Lib/Home/payment_suc/css/payment_suc.css" rel="stylesheet" />
<!--父容器-->
<div id="Comment">
    <div class="Payment">
        <p class="sce"><span class="glyphicon glyphicon-ok-sign" style="color:#4cff00;font-size:22px;"></span>恭喜您！支付成功</p>       
        <div class="btnsce">           
                <h5>订单金额：<span>1000.00</span>&nbsp;订单编号：<span>147852369</span></h5>
               <h6>支付完成前，请不要关闭支付验证窗口</h6>
            <h6>支付完成后，请根据您支付的情况点击下面按钮</h6>
         
            <button type="button" class="btn btn-success">查看订单</button>&nbsp;&nbsp;<button type="button" class="btn btn-default">返回首页</button>
        </div>
    </div>
</div>
