
@{
    ViewBag.Title = "Person";
    Layout = "~/Views/Shared/Person/_LayoutPerson.cshtml";
}

<link href="~/Lib/Home/Person/Person.css" rel="stylesheet" />
<h2>个人资料</h2>
<hr />
<div>
    <div data-v-0d738edb="" class="header">
        <img data-v-0d738edb="" src="https://profile.csdnimg.cn/7/7/3/1_qq_42233801" alt="" class="head">
        <p data-v-0d738edb="" class="modify">修改头像</p>
    </div>
    <div class="=right">
        <p>ID:</p>
        <hr />

        <p>昵称：</p><p class="Updata"><a data-toggle="modal" data-target="#myModal">修改资料</a></p>
        <br />
        <p>实名：</p>
        <br />
        <p>性别：</p>
        <br />
        <p>生日：</p>
        <br />
        <p>地区：</p>
        <br />
        <p>行业：</p>
        <br />
        <p>地址：</p>
        <br />
    </div>
</div>



<hr />
<!--模态框----------------------------------------------------------------------------------------------->
<form method="post" action="#" class="form-horizontal" role="form" id="myForm" onsubmit="return ">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--  定义模态框，过渡效果为淡入，id为myModal,tabindex=-1可以禁用使用tab切换，aria-labelledby用于引用模态框的标题，aria-hidden=true保持模态框在触发前窗口不可见  -->
        <div class="modal-dialog">
            <!--  显示模态框对话框模型（若不写下一个div则没有颜色）  -->
            <div class="modal-content">
                <!--  显示模态框白色背景，所有内容都写在这个div里面  -->

                <div class="btn-info modal-header">
                    <!--  模态框标题  -->
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <!--  关闭按钮  -->
                    <h4>修改用户信息</h4>
                    <!--  标题内容  -->
                </div>

                <div class="modal-body">
                    <!--  模态框内容，我在此处添加一个表单 -->
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="uname" class="col-sm-2 control-label">昵称</label>
                            <div class="col-sm-9">
                                <input type="text" id="userType" name="userType" class="form-control well" placeholder="昵称" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">实名</label>
                            <div class="col-sm-9">
                                <input type="text" id="phone" name="phone" class="form-control well" placeholder="实名" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="realName" class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-9">
                                <input id="sex" type="text" list="sexlist" class="form-control well" placeholder="请选择">
                                <datalist id="sexlist">
                                    <option>男</option>
                                    <option>女</option>
                                </datalist>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="realName" class="col-sm-2 control-label">生日</label>
                            <div class="col-sm-9">
                                <input type="date" autocomplete="off" name="" placeholder="选择日期" class="form-control well">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="realName" class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-9">
                                <input id="sex" type="text" list="regionList" class="form-control well" placeholder="请选择">
                                <datalist id="regionList">
                                    <option>中国</option>
                                    <option>澳大利亚</option>
                                    <option>美国</option>
                                </datalist>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="realName" class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-9">
                                <input id="sex" type="text" list="industryList" class="form-control well" placeholder="请选择">
                                <datalist id="industryList">
                                    <option>IT</option>
                                    <option>医学</option>
                                    <option>教育</option>
                                </datalist>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="realName" class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-9">
                                <textarea data-v-0d738edb="" maxlength="300" placeholder="300字以内" class="form-control well"></textarea>
                            </div>
                            <br /><br /><br />
                        </div>


                    </form>
                </div>

                <div class="modal-footer">
                    <!--  模态框底部样式，一般是提交或者确定按钮 -->
                    <button type="submit" class="btn btn-info" id="editBtn">
                        确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    <!--模态框----------------------------------------------------------------------------------------------->
</form>