* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 70%;
    height: auto;
    border: 1px solid #eeeded;
    margin: 0px auto;
}

    #container .comment {
        width: 90%;
        height: 1400px;
        margin-left: 130px;
        margin-top: 160px;
    }

    #container .layui-form-label {
        width: 100px;
    }

    #container div {
        padding-bottom: 20px;
    }

    #container .layui-select {
        width: 150px;
        height: 38px;
        border: 1px solid #eeeded;
    }

    #container .bat {
        margin-left: 100px;
    }

    #container .layui-textarea {
        height: 300px;
    }
